body {
	  font-family: Arial, sans-serif;
	  margin: 0;
	  padding: 0;
	  background-color: #f8f8f8;
	}
	
	.container {
	  width: 95%;
	  margin: 0 auto;
	}
	
	.navbar{
		list-style-type:none;
		margin-top:0px;
		margin-right:0px;
		margin-bottom:0px;
		margin-left:0px;
		padding-top:0px;
		padding-right:0px;
		padding-bottom:0px;
		padding-left:0px;
		display:flex;
		justify-content:center;
		background-color:white;
		box-shadow:rgba(0, 0, 0, 0.1) 0px 4px 6px;
	}
	
	li{
		position:relative;
	}
	
	li a{
		display:block;
		color:black;
		text-align:center;
		padding-top:14px;
		padding-right:20px;
		padding-bottom:14px;
		padding-left:20px;
		text-decoration-line:none;
		text-decoration-style:initial;
		text-decoration-color:initial;
		font-weight:bold;
	}
	
	li a:hover{
		color:rgb(222, 49, 99);
	}
	
	li a.active{
		color:white;
		background-color:rgb(222, 49, 99);
	}
	
	.dropdown{
		display:none;
		position:absolute;
		background-color:white;
		min-width:160px;
		box-shadow:rgba(0, 0, 0, 0.1) 0px 4px 6px;
		z-index:1;
		list-style-type:none;
		padding-top:0px;
		padding-right:0px;
		padding-bottom:0px;
		padding-left:0px;
		margin-top:0px;
		margin-right:0px;
		margin-bottom:0px;
		margin-left:0px;
	}
	
	.dropdown li a{
		padding: 10px 16px;
	  	text-align: left;
	}
	
	li:hover .dropdown{
		display:block;
	}
	
	.hamburger{
		display:none;
		flex-direction:column;
		cursor:pointer;
		margin:10px;
		}
	
	.hamburger div{
		width:25px;
		height:3px;
		background-color:black;
		margin: 4px 0;
	}
	
	@media screen and (max-width: 768px){
		.navbar{
			display:none;
			flex-direction:column;
			align-items:flex-start;
		}
		
		.navbar.active{
			display:flex;
		}
		
		li{
			width:100%;
		}
		
		li a {
	    text-align: left;
	    padding: 14px;
	  }
		
		.dropdown{
			position:static;
			box-shadow:none;
		}
		
		.hamburger{
			display:flex;
		}
	}
	
	#izgv2{
		color:black;
		width:64px;
		height:58px;
		margin-right:10px;
	}
	
	#ijkuy{
		width:100%;
	}
	
	#iqoii{
		text-align:center;
		padding:0px;
		background-color:black;
		color:white;
	}
	
	.gjs-row{
		display:flex;
		justify-content:flex-start;
		align-items:stretch;
		flex-wrap:nowrap; 
		padding-top:10px;
		padding-right:10px;
		padding-bottom:10px;
		padding-left:10px;
	}
	
	.gjs-cell{
		min-height:75px;
		flex-grow:1;
		flex-basis:100%;
	}
	
	#idwru{
		height:350px;
		width:946.1111450195312px;
	}
	
	
	
	@media (max-width: 768px){
		.gjs-row{flex-wrap:wrap;
		}
	}
	
	.note-editable{
		padding: 0px !important;
	}
	
	.gjs-lory-slides{
		width: 100%;
	}
	
	.gjs-lory-slide{
		margin-right:0 !important;
	}
	
	h1 {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    margin: 0;
	    font-size: 3rem;
	    font-weight: bold;
	}
	
	.video-container {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    width: 85%; /* Full width of the container */
	    max-width: 1000px; /* Larger maximum width for PC */
	    margin: 0 auto; /* Center the container */
	    position: relative;
	    padding-top: 56.25%; /* Maintain 16:9 aspect ratio (9/16 = 0.5625) */
	}
	
	.video-container iframe {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    border: none;
	}
	
	/* Media Query for Smaller Screens */
	@media (max-width: 768px) {
	    .video-container {
	        max-width: 100%; /* Let it take full width on smaller screens */
	        padding-top: 56.25%; /* Maintain aspect ratio */
	    }
	}